@font-face {
  font-family: "creepster-regular";
  src: url("fonts/Creepster-Regular.ttf") format("truetype");
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#title-card {
  text-align: center;
  background-color: purple;
  padding: 1px;
  font-family: "creepster-regular", sans-serif;
  font-size: 18px;
  flex: 0 0 auto;
}

#c {
  width: 100vh;
  flex: 1 1 auto;
  display: block;
  height: 100%;
}
